<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.leobernet.myfeedback">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFeedback"
        tools:replace="android:theme">

        <activity
            android:name=".info.SavePrivateData"
            android:label="@string/save_private_data"
            android:screenOrientation="portrait"
            android:theme="@style/FilterThem">

        </activity>
        <activity
            android:name=".info.PrivatePolicy"
            android:label="@string/info_act"
            android:screenOrientation="portrait"
            android:theme="@style/FilterThem" />
        <activity
            android:name=".act.InfoAct"
            android:label="@string/info"
            android:screenOrientation="portrait"
            android:theme="@style/FilterThem" />
        <activity
            android:name=".filter.FilterAct"
            android:label="@string/filter_act"
            android:screenOrientation="portrait"
            android:theme="@style/FilterThem" />
        <activity
            android:name=".screens.ChooseImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.EditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.ShowLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3741100340098869~6158539072" />
    </application>

</manifest>